# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
db.sqlite3
*.log

# Docker
postgres_data/

# Node / React (para cuando creemos el frontend)
node_modules/
dist/
.DS_Store
coverage/

# IDEs
.vscode/
.idea/
*.swp